<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='website/index.css') }}">

    <link href="https://fonts.googleapis.com/css?family=Tomorrow&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
  </head>
  <body class="home">
    <header>
      <div class="hea">
        <div class="logo">
<h1><span>P</span>RICE   <span style="padding-left:10px;">T</span>AG</h1>        </div>

        <div class="menu">
          <a href="#">About Us</a>
          <a href="#">Sites</a>
          <a href="{{ url_for('profile')}}">Profile</a>
          <a href="#">Dashboard</a>
          <a href="{{ url_for('home')}}" class="hom">Home</a>
        </div>
      </div>
    </header>


    <h2>Search Products</h2>
    <br>
    <div class="serdiv">
    <input class="search" type="text" name="search" placeholder="Search And Press Enter" autocomplete="off" tabindex="-1" aria-hidden="true">
    </div>

  {% with msg = get_flashed_messages() %}
            {% if msg %}
                {% for i in msg %}
                    <p style="color:red;text-decoration:underline;">{{ i }}</p>
                {% endfor %}
          {% endif %}
          {% endwith %}

  </body>
</html>
