<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="index.css">
  </head>
  <body>
      <div class="hea">
        <div class="logo">
<h1><span>P</span>RICE   <span style="padding-left:10px;">T</span>AG</h1>
        </div>
        <div class="menu">
          <a href="#">About Us</a>
          <a href="#">Sites</a>
        </div>
      </div>

      <form class="npass" action="" method="post">
        <span style="text-decoration:underline;">Enter Code sent to email:</span><br><br>
        <input type="text" name="code" placeholder="Enter code:"><br>
        <input type="password" name="pas" placeholder="New Password:"><br>
        <input type="password" name="cpas" placeholder="Confirm Password:"><br>
        <br><br><button type="submit" name="button" >Get Email</button>
      </form>
  </body>
</html>
