<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='website/index.css') }}">



  </head>
  <body class="profilebody">
      <div class="hea">
        <div class="logo">
<h1><span>P</span>RICE   <span style="padding-left:10px;">T</span>AG</h1>        </div>

        <div class="menu">
          <a href="#" style="display:none;">About Us</a>
          <a href="#" style="display:none;">Sites</a>
            <a href="{{ url_for('login') }}" >Log Out</a>
          <a href="{{ url_for('profile')}}" class="pro">Profile</a>
          <a href="{{ url_for('dashboard') }}">Dashboard</a>
          <a href="{{ url_for('home')}}">Home</a>
        </div>
      </div>


      <form class="profile" method="post">
        <span>Name:</span> <br><input type="text" name="name" placeholder="Enter name:" id="name" value="{{ user }}" disabled><br><br>
        <span>Username:</span> <br><input type="text" name="user" placeholder="Enter email id:" id="user" value="{{ email }}" disabled><br><br>
        <span>Mobile No:</span> <br><input type="tel" name="mob" placeholder="Enter Mobile:" id="mob" value="{{ mob }}" disabled><br><br>
        <button type="button" name="edit" id="edit" onClick="document.getElementById('name').disabled = false;
        document.getElementById('user').disabled = false;
        document.getElementById('mob').disabled = false;
        document.getElementById('confirm').style.display = 'block';
        document.getElementById('edit').style.display = 'none';">Edit Profile</button>
        <button type="submit" name="confirm" id="confirm" style="display:none;margin-left:135px;">Confirm</button>
        <br><br>
        <a href="{{ url_for('forgetpass') }}">Change Password</a>
      </form>

  </body>
</html>
