<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Signup</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='website/index.css') }}">
  </head>
  <body class="signupbody">
      <div class="hea">
        <div class="logo">
<h1><span>P</span>RICE   <span style="padding-left:10px;">T</span>AG</h1>        </div>

        <div class="menu">
          <a href="#" style="display:none;">About Us</a>
          <a href="#" style="display:none;">Sites</a>
        </div>
      </div>


      <form class="sign" method="post">

          {% with msg = get_flashed_messages() %}
            {% if msg %}
                {% for i in msg %}
                    <p style="color:red;text-decoration:underline;">{{ i }}</p>
                {% endfor %}
          {% endif %}
          {% endwith %}

        <span>Name:</span> <br><input type="text" name="name" placeholder="Enter name:"><br><br>
        <span>Username:</span> <br><input type="text" name="user" placeholder="Enter email id:"><br><br>
        <span>Password:</span> <br><input type="password" name="pas" placeholder="Enter password:"><br><br>
        <span>Confirm Password:</span> <br><input type="password" name="cpas" placeholder="Confirm password:" >

          <br>
        <span>Mobile No:</span> <br><input type="tel" name="mob" placeholder="Enter Mobile:"><br><br>
        <button type="submit" name="signin">SIGN IN</button><br><br><br>
        <a href="{{ url_for('login')}}">Already have an account? Please Log in</a>



      </form>


  </body>
</html>
