body{
  padding:0;
  margin:0;
  background-color: rgba(150, 150, 150, 0.5);
}

.hea{
  background:#22242a;
  width:100%;
  height: 60px;
  overflow: hidden;
}

.logo{
  width:auto;
  float: left;
}

.logo span{
  color:red;
  font-size: 40px;
}


.logo h1{
  color:white;
  margin: 0;
  padding-left: 30px;
  padding-top: 6px;
  width:auto;

}

table{
    border:4px solid black;
    margin-top: 20px;
    margin-left: 50%;
    transform: translate(-50%);
    background: white;
}

table tr{
    padding: 20px 20px;

}

table tr th{
    border: 1px solid black;
    font-family: 'Tomorrow', sans-serif;
}

table tr td{
    border:2px solid black;
    font-family: 'Tomorrow', sans-serif;
    padding: 10px 10px;
}



.menu a{
  color:white;
  text-decoration: none;
  padding-right: 20px;
  float:right;
  padding: 20px 20px;
  font-family: 'Tomorrow', sans-serif;
  font-size: 15px;
  display: block;
  border: 1px solid #22242a;
}

.hom {
  background: #00ff00;
  color: #000000;
}

.dash {
  background: #00ff00;
  color: #000000;
}

.pro{
  background: #00ff00;
  color: #000000;
}

.menu a:hover{
  background: #00ff00;
  color: #000000;
}
.menu{
  padding-right: 30px;
}


body h2{
  color:#00264d;
  text-align: center;
  padding-top: 150px;
  font-size: 30px;
}

body .serdiv{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 45px;
  width: 650px;
  border-radius: 20px;
  text-indent: 20px;
  font-size: 20px;
  font-family: 'Segoe UI', 'Roboto', arial, sans-serif;
  text-decoration: none;
    position: relative;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;

    text-shadow: none;


    background-color: white;

    cursor: text;
    font: 400 13.3333px Arial;
    border-width: 0;

    border-color: rgba(150, 150, 150, 0.5);

}

body .search{
  width: 93%;
  border:white;
  height: 43px;
  color: black;
  font-size: 20px;
  position: relative;
}


.search:focus{
  outline: none;
}



body{
background-color: #9CD2B5;
}


.user {
  width: 350px;
  height: 350px;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #22242a;
  padding: 20px 20px;
  position: absolute;
  text-align: center;
  border-radius: 15px;
  padding-top: 30px;
}


.profile {
  width: 350px;
  height: 400px;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #22242a;
  padding: 20px 20px;
  position: absolute;
  text-align: center;
  border-radius: 15px;
  padding-top: 30px;
}

.npass {
  width: 300px;
  height: auto;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #22242a;
  padding: 20px 20px;
  position: absolute;
  text-align: center;
  border-radius: 15px;
  padding-top: 30px;
}


.fpass {
  width: 300px;
  height: auto;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #22242a;
  padding: 20px 20px;
  position: absolute;
  text-align: center;
  border-radius: 15px;
  padding-top: 30px;
}




.user input{
  margin: 10px 10px;
  width: auto;
  padding: 15px 10px;
  background: none;
  border: 2px solid yellow;
  text-align: center;
  border-radius: 15px;
  color: white;

}


.profile input{
  margin: 10px 10px;
  padding: 15px 10px;
  background: none;
  border-color: #00ff00;
  width: 250px;
  text-align: center;
  border-radius: 15px;
  color: white;

}

.npass input{
  margin: 10px 10px;
  width: auto;
  padding: 15px 10px;
  background: none;
  border: 2px solid yellow;
  text-align: center;
  border-radius: 15px;
  color: white;

}


.fpass input{
  margin: 10px 10px;
  width: auto;
  padding: 15px 10px;
  background: none;
  border: 2px solid yellow;
  text-align: center;
  border-radius: 15px;
  color: white;

}


.sign input{
  margin: 10px 10px;
  width: auto;
  height: auto;
  padding: 15px 10px;
  background: none;
  border: 2px solid yellow;
  border-radius: 15px;
  color: white;
  text-align: center;

}

.user input:focus{
  outline: none;
}

.npass input:focus{
  outline: none;
}

.fpass input:focus{
  outline: none;
}

.profile input:focus{
  outline: none;
}


.sign input:focus{
  outline: none;
}

.npass input[type="text"]:focus,input[type="password"]:focus{
  border-color: #00ff00;
  width: 250px;
  transition: 2s;
    transition-property: width;
    text-align: center;
}

.user input[type="text"]:focus,input[type="password"]:focus,input[type="tel"]:focus{
  border-color: #00ff00;
  width: 250px;
  transition: 2s;
    transition-property: width;
    text-align: center;
}


.fpass input[type="text"]:focus{
  border-color: #00ff00;
  width: 250px;
  transition: 2s;
    transition-property: width;
    text-align: center;
}


.sign input[type="text"]:focus,input[type="password"]:focus{
  border-color: #00ff00;
  width: 250px;
  transition: 2s;
    transition-property: width;
    text-align: center;
    background: none;
}

.profile input[type="text"]:focus,input[type="tel"]:focus{
  border-color: yellow;
  width: 250px;
    text-align: center;
    background: none;
}

.search{
width: 100%;
}

.user span{
  font-size: 15px;
  padding: 20px 20px;
}

.npass span{
  font-size: 15px;
  padding: 20px 20px;
}

.fpass span{
  font-size: 15px;
  padding: 20px 20px;
}

.profile span{
  font-size: 15px;
  padding: 20px 20px;
}

.sign span{
  font-size: 15px;
  padding: 20px 20px;
}


.user button{

  padding: 10px 17px;
  border-radius: 15px;
  background: none;
  color: white;
  border-color: green;
  box-shadow: 1px 1px 1px green;
}

.npass button{

  padding: 10px 17px;
  border-radius: 15px;
  background: none;
  color: white;
  border-color: green;
  box-shadow: 1px 1px 1px green;
}


.fpass button{

  padding: 10px 17px;
  border-radius: 15px;
  background: none;
  color: white;
  border-color: green;
  box-shadow: 1px 1px 1px green;
}


.profile button{

  padding: 10px 17px;
  border-radius: 15px;
  background: none;
  color: white;
  border-color: green;
  box-shadow: 1px 1px 1px green;
}


.sign button{

  padding: 10px 17px;
  border-radius: 15px;
  background: none;
  color: white;
  border-color: green;
  box-shadow: 1px 1px 1px green;
}

.user button:focus,.npass button:focus{
  outline: none;
}

.fpass button:focus{
  outline: none;
}

.profile button:focus{
  outline: none;
}

.sign button:focus{
  outline: none;
}


.fpass button:hover{
  background: #00ff00;
  color: black;
  font-weight: bold;
}

.user button:hover{
  background: #00ff00;
  color: black;
  font-weight: bold;
}

.npass button:hover{
  background: #00ff00;
  color: black;
  font-weight: bold;
}



.profile button:hover{
  background: #00ff00;
  color: black;
  font-weight: bold;
}


.sign button:hover{
  background: #00ff00;
  color: black;
  font-weight: bold;
}

.user a{
  font-size: 15px;
  color: white;
}

.profile a{
  font-size: 15px;
  color: white;
}

.user a:hover{
  color: #0000ff;
}

.profile a:hover{
  color: #0000ff;
}


.sign a{
  font-size: 15px;
  color: white;
}

.sign a:hover{
  color: #0000ff;
}



.sign{
    width: 350px;
    height: auto;
    color: white;
    margin-top: 100px;
    margin-bottom: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #22242a;
    padding: 20px 20px;
    position: absolute;
    text-align: center;
    border-radius: 15px;
    padding-top: 30px;
}
